html {
  scroll-behavior: smooth;
}

.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
}

.home.dark {
  background-color: #333;
  color: #eee;
}

@media only screen and (max-width: 1024px) {
  .home {
    width: 96%;
  }
}

@media only screen and (min-width: 500px) {
  .home {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) and (min-width: 0px) {
  .home {
    width: 500px;
  }
}