.separator {
    background-image: linear-gradient(to right top, #c43988, #b23f96, #9c46a2, #824daa, #6353af, #495eb4, #2c68b4, #006fb1, #007dac, #2689a4, #4f939c, #709b98);
    border-radius: 3px;
    height: 6px;
    margin: 16px 0px;
    width: 40%;
}