.about {
  padding-bottom: 48px;

  .aboutTop {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .aboutPhoto {
    width: 480px;
  }

  .aboutInfo {
    font-size: 24px;

    .name {
      color: blueviolet;
      font-size: 36px;
      font-weight: 300;
      margin-bottom: 12px;
    }
  }
}

@media only screen and (max-width: 720px) {
  .aboutTop {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .aboutPhoto {
    width: 280px;
  }

  .aboutInfo {
    font-size: 20px;

    .name {
      font-size: 26px;
    }
  }
}
